@import "reset.css";

body {
  background: #e9ecef;
}

.App {
  font-family: Noto Sans KR;
  font-style: normal;

  max-width: 375px;
}

/* TODO: container-body 여기서 설정하면 반영이 안되나요? */
/* TODO: 색상을 한군데에 모아야겠다. (노마드코더 참고) */
